{{#each this}}
<h1>{{name}}</h1>
<img src={{flag}} alt={{name}} width="300" />
<p>Capital: {{capital}}</p>
<p>Population: {{population}}</p>
<p>Languages:</p>
<ul>
    {{#each languages}}
    <li>{{name}}</li>
    {{/each}}
</ul>
{{/each}}